USE [master]
GO
/****** Object:  Database [FPTBaiTapSQLDay1]    Script Date: 20/3/2018 9:57:25 AM ******/
CREATE DATABASE [FPTBaiTapSQLDay1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CongTyUnilever', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CongTyUnilever .mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CongTyUnilever _log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CongTyUnilever _log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FPTBaiTapSQLDay1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FPTBaiTapSQLDay1]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 20/3/2018 9:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTietHoaDon] [nvarchar](50) NOT NULL,
	[MaHoaDon] [nvarchar](50) NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[Gia] [nchar](10) NOT NULL,
	[MaMatHang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaChiTietHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietKhoHang]    Script Date: 20/3/2018 9:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietKhoHang](
	[MaChiTietKhoHang] [nvarchar](50) NOT NULL,
	[MaKho] [nvarchar](50) NOT NULL,
	[SoLuong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChiTietKhoHang] PRIMARY KEY CLUSTERED 
(
	[MaChiTietKhoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietMuaHang]    Script Date: 20/3/2018 9:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietMuaHang](
	[MaChiTietMuaHang] [nvarchar](50) NOT NULL,
	[MaMuaHang] [nvarchar](50) NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[MaMatHang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChiTietMuaHang] PRIMARY KEY CLUSTERED 
(
	[MaChiTietMuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietNhanHang]    Script Date: 20/3/2018 9:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhanHang](
	[MaChiTietNhanHang] [nvarchar](50) NOT NULL,
	[MaNhanHang] [nvarchar](50) NOT NULL,
	[SoLuongNhan] [int] NOT NULL,
	[SoLuongTra] [int] NULL,
	[Gia] [float] NOT NULL,
	[MaMatHang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChiTietNhanHang] PRIMARY KEY CLUSTERED 
(
	[MaChiTietNhanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 20/3/2018 9:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [nvarchar](50) NOT NULL,
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[MaKhachHang] [nvarchar](50) NOT NULL,
	[NgayGioThanhToan] [datetime] NOT NULL,
 CONSTRAINT [PK_HoaDon_1] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 20/3/2018 9:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nvarchar](50) NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[CoDinhHayKhongCoDinh] [bit] NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[ThoiGianNo] [nvarchar](50) NULL,
	[CongNo] [float] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kho]    Script Date: 20/3/2018 9:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaKho] [nvarchar](50) NOT NULL,
	[TenKho] [nvarchar](50) NOT NULL,
	[MaNhaPhanPhoi] [nvarchar](50) NOT NULL,
	[MaMatHang] [nvarchar](50) NOT NULL,
	[TenMatHang] [nvarchar](50) NOT NULL,
	[Gia] [float] NOT NULL,
 CONSTRAINT [PK_Kho_1] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC,
	[MaMatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MatHang]    Script Date: 20/3/2018 9:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatHang](
	[MaMatHang] [nvarchar](50) NOT NULL,
	[TenMatHang] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Gia] [float] NOT NULL,
 CONSTRAINT [PK_MatHang] PRIMARY KEY CLUSTERED 
(
	[MaMatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MuaHang]    Script Date: 20/3/2018 9:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuaHang](
	[MaMuaHang] [nvarchar](50) NOT NULL,
	[MaNhaPhanPhoi] [nvarchar](50) NOT NULL,
	[MucDoMuaHang] [nvarchar](50) NULL,
	[NgayGioMua] [datetime] NOT NULL,
	[NgayGioThanhToan] [datetime] NULL,
	[TinhTrangTieuThu] [nvarchar](50) NOT NULL,
	[TraTienHoacNo] [nvarchar](50) NOT NULL,
	[LaiXuat] [int] NULL,
 CONSTRAINT [PK_MuaHang] PRIMARY KEY CLUSTERED 
(
	[MaMuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanHang]    Script Date: 20/3/2018 9:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanHang](
	[MaNhanHang] [nvarchar](50) NOT NULL,
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[MaNhaPhanPhoi] [nvarchar](50) NOT NULL,
	[NgayGioTra] [datetime] NULL,
 CONSTRAINT [PK_NhanHang] PRIMARY KEY CLUSTERED 
(
	[MaNhanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 20/3/2018 9:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[CongNo] [float] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaPhanPhoi]    Script Date: 20/3/2018 9:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaPhanPhoi](
	[MaNhaPhanPhoi] [nvarchar](50) NOT NULL,
	[TenNhaPhanPhoi] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[ThoiGianNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhaPhanPhoi] PRIMARY KEY CLUSTERED 
(
	[MaNhaPhanPhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_MatHang] FOREIGN KEY([MaMatHang])
REFERENCES [dbo].[MatHang] ([MaMatHang])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_MatHang]
GO
ALTER TABLE [dbo].[ChiTietMuaHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietMuaHang_MatHang] FOREIGN KEY([MaMatHang])
REFERENCES [dbo].[MatHang] ([MaMatHang])
GO
ALTER TABLE [dbo].[ChiTietMuaHang] CHECK CONSTRAINT [FK_ChiTietMuaHang_MatHang]
GO
ALTER TABLE [dbo].[ChiTietMuaHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietMuaHang_MuaHang] FOREIGN KEY([MaMuaHang])
REFERENCES [dbo].[MuaHang] ([MaMuaHang])
GO
ALTER TABLE [dbo].[ChiTietMuaHang] CHECK CONSTRAINT [FK_ChiTietMuaHang_MuaHang]
GO
ALTER TABLE [dbo].[ChiTietNhanHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhanHang_MatHang] FOREIGN KEY([MaMatHang])
REFERENCES [dbo].[MatHang] ([MaMatHang])
GO
ALTER TABLE [dbo].[ChiTietNhanHang] CHECK CONSTRAINT [FK_ChiTietNhanHang_MatHang]
GO
ALTER TABLE [dbo].[ChiTietNhanHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhanHang_NhanHang] FOREIGN KEY([MaNhanHang])
REFERENCES [dbo].[NhanHang] ([MaNhanHang])
GO
ALTER TABLE [dbo].[ChiTietNhanHang] CHECK CONSTRAINT [FK_ChiTietNhanHang_NhanHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD  CONSTRAINT [FK_Kho_ChiTietKhoHang] FOREIGN KEY([MaKho])
REFERENCES [dbo].[ChiTietKhoHang] ([MaChiTietKhoHang])
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_Kho_ChiTietKhoHang]
GO
ALTER TABLE [dbo].[MuaHang]  WITH CHECK ADD  CONSTRAINT [FK_MuaHang_NhaPhanPhoi1] FOREIGN KEY([MaNhaPhanPhoi])
REFERENCES [dbo].[NhaPhanPhoi] ([MaNhaPhanPhoi])
GO
ALTER TABLE [dbo].[MuaHang] CHECK CONSTRAINT [FK_MuaHang_NhaPhanPhoi1]
GO
ALTER TABLE [dbo].[NhanHang]  WITH CHECK ADD  CONSTRAINT [FK_NhanHang_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NhanHang] CHECK CONSTRAINT [FK_NhanHang_NhanVien]
GO
ALTER TABLE [dbo].[NhanHang]  WITH CHECK ADD  CONSTRAINT [FK_NhanHang_NhaPhanPhoi] FOREIGN KEY([MaNhaPhanPhoi])
REFERENCES [dbo].[NhaPhanPhoi] ([MaNhaPhanPhoi])
GO
ALTER TABLE [dbo].[NhanHang] CHECK CONSTRAINT [FK_NhanHang_NhaPhanPhoi]
GO
USE [master]
GO
