USE [master]
GO
/****** Object:  Database [FPTBaiTapSQLCoBanDay2]    Script Date: 20/3/2018 9:56:32 AM ******/
CREATE DATABASE [FPTBaiTapSQLCoBanDay2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FPTBaiTapSQLCoBanDay2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\FPTBaiTapSQLCoBanDay2.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FPTBaiTapSQLCoBanDay2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\FPTBaiTapSQLCoBanDay2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FPTBaiTapSQLCoBanDay2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FPTBaiTapSQLCoBanDay2]
GO
/****** Object:  Table [dbo].[BANHANG]    Script Date: 20/3/2018 9:56:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANHANG](
	[MaNV] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[SoLuongDaBan] [int] NOT NULL,
 CONSTRAINT [PK_BANHANG] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 20/3/2018 9:56:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MaLoaiSP] [nvarchar](50) NOT NULL,
	[TenLoaiSP] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 20/3/2018 9:56:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nvarchar](50) NOT NULL,
	[HoTenNV] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](50) NOT NULL,
	[QueQuan] [nvarchar](50) NULL,
	[Tuoi] [int] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 20/3/2018 9:56:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [nvarchar](50) NOT NULL,
	[TenSP] [nvarchar](50) NOT NULL,
	[MaLoaiSP] [nvarchar](50) NULL,
	[GiaBan] [float] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BANHANG] ([MaNV], [MaSP], [SoLuongDaBan]) VALUES (N'NV01', N'SP001', 50)
INSERT [dbo].[BANHANG] ([MaNV], [MaSP], [SoLuongDaBan]) VALUES (N'NV01', N'SP003', 10)
INSERT [dbo].[BANHANG] ([MaNV], [MaSP], [SoLuongDaBan]) VALUES (N'NV02', N'SP003', 5)
INSERT [dbo].[LOAISP] ([MaLoaiSP], [TenLoaiSP]) VALUES (N'Type001', N'Mỹ phẩm')
INSERT [dbo].[LOAISP] ([MaLoaiSP], [TenLoaiSP]) VALUES (N'Type002', N'Áo')
INSERT [dbo].[LOAISP] ([MaLoaiSP], [TenLoaiSP]) VALUES (N'Type003', N'Giầy')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTenNV], [GioiTinh], [QueQuan], [Tuoi]) VALUES (N'NV01', N'Nguyễn Chí Phèo', N'Nam', N'Quảng Trị', 18)
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTenNV], [GioiTinh], [QueQuan], [Tuoi]) VALUES (N'NV02', N'Trần Văn Tùng', N'Nam', N'Bình Định', 35)
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTenNV], [GioiTinh], [QueQuan], [Tuoi]) VALUES (N'NV03', N'Lê Thị Hoa', N'Nữ', N'Hà Tĩnh', 19)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MaLoaiSP], [GiaBan], [SoLuong]) VALUES (N'SP001', N'Nước hoa', N'Type001', 30000, 100)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MaLoaiSP], [GiaBan], [SoLuong]) VALUES (N'SP002', N'Áo khoác nam', N'Type002', 45000, 10)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MaLoaiSP], [GiaBan], [SoLuong]) VALUES (N'SP003', N'Giầy thể thao', N'Type003', NULL, 15)
ALTER TABLE [dbo].[BANHANG]  WITH CHECK ADD  CONSTRAINT [FK_BANHANG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BANHANG] CHECK CONSTRAINT [FK_BANHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[BANHANG]  WITH CHECK ADD  CONSTRAINT [FK_BANHANG_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BANHANG] CHECK CONSTRAINT [FK_BANHANG_SANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LOAISP] ([MaLoaiSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
USE [master]
GO
